## Data Explotation
- For each attribute, calculate appropriate measure between the result and the attribute
- Draw corrleation
- Divide types of the attribute
- and then, show the table head

In [1]:
import pandas as pd
import numpy  as np
orig = pd.read_csv('copd_final_csv.csv')

In [2]:
orig['NAme'] = "A" # hiding the names of patient

In [3]:
orig.head(10)

,Number,Patient Number,NAme,age,sex,marital,Employed,admission date,readmission day,Whether readmitted in 30days,...,BP,pulse,temp,Resp,height,weight,BMI,SpO2,Have help at home,Home Equipment(Use O2)
0,1,1,A,83,female,married,retired,7/25/2012,NaN,0,...,NaN,74.0,98.1,18.0,1.549,45.100,18.79,0.92,1.0,1.0
1,2,1,A,83,female,married,retired,7/13/2012,12.0,1,...,96/28,84.0,97.3,16.0,1.549,45.360,18.89,0.98,0.0,1.0
2,3,1,A,83,female,married,retired,7/10/2012,3.0,1,...,119/50,88.0,98.0,22.0,1.524,46.720,20.12,0.99,1.0,1.0
3,4,1,A,83,female,married,retired,6/27/2012,13.0,1,...,116/80,79.0,97.6,22.0,NaN,NaN,NaN,0.95,0.0,1.0
4,5,1,A,82,female,married,retired,10/10/2011,NaN,0,...,113/47,96.0,98.7,16.0,NaN,NaN,NaN,0.96,1.0,NaN
5,6,2,A,70,female,married,retired,4/5/2016,NaN,0,...,125/84,62.0,97.2,20.0,1.626,53.000,20.05,0.95,1.0,0.0
6,7,3,A,53,female,married,notemployed,7/20/2015,NaN,0,...,116/68,136.0,NaN,NaN,NaN,57.600,NaN,0.81,1.0,0.0
7,8,3,A,49,female,married,notemployed,1/5/2011,NaN,0,...,104/65,109.0,98.8,18.0,NaN,57.600,19.31,0.93,1.0,0.0
8,9,4,A,69,female,widow,notemployed,4/24/2012,NaN,0,...,138/69,84.0,97.7,20.0,1.727,81.000,27.15,NaN,1.0,0.0
9,10,5,A,44,female,single,disabled,10/15/2014,NaN,0,...,98/60,88.0,NaN,NaN,NaN,87.091,30.99,NaN,1.0,NaN

In [4]:
orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1565 entries, 0 to 1564
Data columns (total 44 columns):
Number                                           1565 non-null int64
Patient Number                                   1565 non-null int64
NAme                                             1565 non-null object
age                                              1565 non-null int64
sex                                              1565 non-null object
marital                                          1564 non-null object
Employed                                         1565 non-null object
admission date                                   1565 non-null object
readmission day                                  261 non-null float64
Whether readmitted in 30days                     1565 non-null int64
winter/autumn                                    1565 non-null int64
admission times                                  1564 non-null float64
readmission in 30 days in the past               1565 non-null int64
Severe allergies                                 1546 non-null float64
FEV1/FVC                                         1034 non-null float64
COPD type(1:bronchis 2:emphy.. 3. 1+2            1386 non-null float64
Cardiac Comorbities                              1556 non-null float64
Rehab center for exercise or not(1:yes 0:not)    1562 non-null float64
PulmoNAry MD                                     1504 non-null object
office visit or not                              1565 non-null int64
days of admission                                1564 non-null float64
Attitude to Care(R:resloved A:active D:done)     1561 non-null object
anxiety                                          1563 non-null float64
Education                                        1555 non-null object
Tobacco use history(year*package/day)            1375 non-null float64
whether use tabacco now                          1561 non-null float64
alcohol intake                                   1562 non-null float64
drug intake                                      1536 non-null float64
sexually activity                                703 non-null float64
number of children                               772 non-null float64
years of education                               175 non-null float64
race                                             1564 non-null object
polluted/heavy work                              323 non-null float64
note                                             1033 non-null object
BP                                               1514 non-null object
pulse                                            1476 non-null float64
temp                                             1401 non-null float64
Resp                                             1392 non-null float64
height                                           701 non-null float64
weight                                           784 non-null float64
BMI                                              602 non-null float64
SpO2                                             1451 non-null float64
Have help at home                                1262 non-null float64
Home Equipment(Use O2)                           1361 non-null float64
dtypes: float64(26), int64(7), object(11)
memory usage: 470.8+ KB

In [5]:
orig.columns

Index([u'Number', u'Patient Number', u'NAme', u'age', u'sex', u'marital',
       u'Employed', u'admission date', u'readmission day',
       u'Whether readmitted in 30days', u'winter/autumn', u'admission times',
       u'readmission in 30 days in the past', u'Severe allergies', u'FEV1/FVC',
       u'COPD type(1:bronchis 2:emphy.. 3. 1+2', u'Cardiac Comorbities',
       u'Rehab center for exercise or not(1:yes 0:not)', u'PulmoNAry MD',
       u'office visit or not', u'days of admission',
       u'Attitude to Care(R:resloved A:active D:done)', u'anxiety',
       u'Education', u'Tobacco use history(year*package/day)',
       u'whether use tabacco now', u'alcohol intake', u'drug intake',
       u'sexually activity ', u'number of children', u'years of education',
       u'race', u'polluted/heavy work ', u'note', u'BP', u'pulse', u'temp',
       u'Resp', u'height', u'weight', u'BMI', u'SpO2', u'Have help at home',
       u'Home Equipment(Use O2)'],
      dtype='object')

In [6]:
# rename
cols = ['id','pt_id','name','age','sex','marital',
        'employed','admission_date','readmission_date',
        'readmit_30days','cold_season','adm_times',
        'past_readmit_30days','severe_allergies','fev1_fvc',
        'copd_type','cardiac_como',
        'rehab_center','pulmonary_MD',
        'office_visit','days_admission',
        'attitude_to_care','anxiety',
        'education','tabacco_history',
        'tabacco_now','alcohol','drug',
        'sexual_act','num_children','year_edu',
        'race','polluted_heavy_work','note','BP','pulse','temp',
        'resp','height','weight','bmi','sp02','have_help_at_home',
        'home_equipment']

In [7]:
orig.columns = cols

In [8]:
# disclude 0,2,7,8,18,33
main_cols = [cols[i] for i in [1,3,4,5,6,9,10,11,12,13,14,15,16,17,19,20,
                                  21,22,23,24,25,26,27,28,29,30,31,32,34,35,36,37,38,39,40,41,42,43]]

In [9]:
main_cols

['pt_id',
 'age',
 'sex',
 'marital',
 'employed',
 'readmit_30days',
 'cold_season',
 'adm_times',
 'past_readmit_30days',
 'severe_allergies',
 'fev1_fvc',
 'copd_type',
 'cardiac_como',
 'rehab_center',
 'office_visit',
 'days_admission',
 'attitude_to_care',
 'anxiety',
 'education',
 'tabacco_history',
 'tabacco_now',
 'alcohol',
 'drug',
 'sexual_act',
 'num_children',
 'year_edu',
 'race',
 'polluted_heavy_work',
 'BP',
 'pulse',
 'temp',
 'resp',
 'height',
 'weight',
 'bmi',
 'sp02',
 'have_help_at_home',
 'home_equipment']

In [10]:
len(main_cols)

38

In [11]:
demographic = [main_cols[i] for i in [1,2,3,4,24,25,26,27,32,33,34]] # height, weight
clinical = [main_cols[i] for i in [6,7,8,9,10,11,12,15,28,29,30,31,35]] 
behaivior = [main_cols[i] for i in [13,14,16,17,18,19,20,21,22,23,36,37]] # tabacco history
target = main_cols[5]

In [12]:
orig.head()

,id,pt_id,name,age,sex,marital,employed,admission_date,readmission_date,readmit_30days,...,BP,pulse,temp,resp,height,weight,bmi,sp02,have_help_at_home,home_equipment
0,1,1,A,83,female,married,retired,7/25/2012,NaN,0,...,NaN,74.0,98.1,18.0,1.549,45.10,18.79,0.92,1.0,1.0
1,2,1,A,83,female,married,retired,7/13/2012,12.0,1,...,96/28,84.0,97.3,16.0,1.549,45.36,18.89,0.98,0.0,1.0
2,3,1,A,83,female,married,retired,7/10/2012,3.0,1,...,119/50,88.0,98.0,22.0,1.524,46.72,20.12,0.99,1.0,1.0
3,4,1,A,83,female,married,retired,6/27/2012,13.0,1,...,116/80,79.0,97.6,22.0,NaN,NaN,NaN,0.95,0.0,1.0
4,5,1,A,82,female,married,retired,10/10/2011,NaN,0,...,113/47,96.0,98.7,16.0,NaN,NaN,NaN,0.96,1.0,NaN

In [13]:
orig.iloc[:,[7,8,9]].head(10)

  admission_date  readmission_date  readmit_30days
0      7/25/2012               NaN               0
1      7/13/2012              12.0               1
2      7/10/2012               3.0               1
3      6/27/2012              13.0               1
4     10/10/2011               NaN               0
5       4/5/2016               NaN               0
6      7/20/2015               NaN               0
7       1/5/2011               NaN               0
8      4/24/2012               NaN               0
9     10/15/2014               NaN               0

> Here, There are a few patient who have readmitted due to COPD.

> TODO : Later, we can gather the readmission records by other reasons and analze it.

In [14]:
orig.iloc[:,[9]] = orig.iloc[:,[9]].fillna(0)

In [15]:
orig.iloc[:,[9]] = orig.iloc[:,[9]].apply(pd.to_numeric)

In [16]:
print("There are %s patients who are readmitted due to COPD among the %s at risk patient" %(int(sum(orig.iloc[:,9])),orig.shape[0]))

There are 261 patients who are readmitted due to COPD among the 1565 at risk patient

In [17]:
orig[main_cols].head()

,pt_id,age,sex,marital,employed,readmit_30days,cold_season,adm_times,past_readmit_30days,severe_allergies,...,BP,pulse,temp,resp,height,weight,bmi,sp02,have_help_at_home,home_equipment
0,1,83,female,married,retired,0,0,4.0,1,1.0,...,NaN,74.0,98.1,18.0,1.549,45.10,18.79,0.92,1.0,1.0
1,1,83,female,married,retired,1,0,3.0,1,1.0,...,96/28,84.0,97.3,16.0,1.549,45.36,18.89,0.98,0.0,1.0
2,1,83,female,married,retired,1,0,2.0,1,1.0,...,119/50,88.0,98.0,22.0,1.524,46.72,20.12,0.99,1.0,1.0
3,1,83,female,married,retired,1,0,1.0,0,1.0,...,116/80,79.0,97.6,22.0,NaN,NaN,NaN,0.95,0.0,1.0
4,1,82,female,married,retired,0,1,0.0,0,1.0,...,113/47,96.0,98.7,16.0,NaN,NaN,NaN,0.96,1.0,NaN

> should transform categorical data type to binary or numeric

> fillna using appropriate criteria

In [18]:
main = orig[main_cols]

In [19]:
main['BP'] = main['BP'].apply(lambda x : str(x).split('/')[0]) # BP_high

C:\Users\slee776\AppData\Local\Continuum\anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
predcol = main_cols[1:]
main = main[predcol]

In [21]:
main['race'].unique()

array(['White/Caucasian', 'Black/African American', nan, 'Asian'], dtype=object)

   ## Record Selection
    - pick a record which has null value as less as possible from each patient

In [22]:
main['numnull'] = 0
main['selected'] = 0

In [23]:
for i in xrange(main.shape[0]):
    main.loc[i,'numnull'] = main.iloc[i,:].isnull().values.sum()

for i in orig['pt_id'].unique() :
    main.loc[main.loc[orig['pt_id']==i and orig['readmit_30days']==1,'numnull'].idxmin(),'selected']=1

In [24]:
len(orig.loc[orig['readmit_30days']==1,'pt_id'].unique())

130

In [25]:
for i in orig.loc[orig['readmit_30days']==1,'pt_id'].unique() :
    #print main.loc[orig['pt_id']==i].loc[orig['readmit_30days']==1,'numnull'].idxmin(),
    main.loc[main.loc[orig['pt_id']==i].loc[orig['readmit_30days']==1,'numnull'].idxmin(),'selected']=1

In [26]:
for i in orig['pt_id'].unique() :
    if i not in orig.loc[orig['readmit_30days']==1,'pt_id'].unique() : 
        main.loc[main.loc[orig['pt_id']==i].loc[orig['readmit_30days']==0,'numnull'].idxmin(),'selected']=1

In [27]:
#for i in orig.loc[orig['readmit_30days']==0,'pt_id'].unique() :
#    main.loc[main.loc[orig['pt_id']==i].loc[orig['readmit_30days']==0,'numnull'].idxmin(),'selected']=1

In [28]:
selected = main.loc[main['selected']==1]

In [29]:
sum(selected.loc[:,'readmit_30days'])

130

In [30]:
selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 555 entries, 1 to 1563
Data columns (total 39 columns):
age                    555 non-null int64
sex                    555 non-null object
marital                554 non-null object
employed               555 non-null object
readmit_30days         555 non-null int64
cold_season            555 non-null int64
adm_times              555 non-null float64
past_readmit_30days    555 non-null int64
severe_allergies       548 non-null float64
fev1_fvc               328 non-null float64
copd_type              468 non-null float64
cardiac_como           550 non-null float64
rehab_center           553 non-null float64
office_visit           555 non-null int64
days_admission         555 non-null float64
attitude_to_care       555 non-null object
anxiety                555 non-null float64
education              552 non-null object
tabacco_history        467 non-null float64
tabacco_now            552 non-null float64
alcohol                554 non-null float64
drug                   545 non-null float64
sexual_act             243 non-null float64
num_children           274 non-null float64
year_edu               60 non-null float64
race                   554 non-null object
polluted_heavy_work    137 non-null float64
BP                     555 non-null object
pulse                  540 non-null float64
temp                   525 non-null float64
resp                   522 non-null float64
height                 335 non-null float64
weight                 375 non-null float64
bmi                    313 non-null float64
sp02                   534 non-null float64
have_help_at_home      436 non-null float64
home_equipment         461 non-null float64
numnull                555 non-null int64
selected               555 non-null int64
dtypes: float64(25), int64(7), object(7)
memory usage: 158.3+ KB

## transformation
- sex : male=0,female=1
- marital : single=0,married=1,widow/divorced/divorce=2
- employed : not employed/notemployed=0, parttime/part time=1, full time=2, home self/retired=3, disabled=4
- attitude_to_care : R/r = 0, A/a = 1
- education : R/r = 0, A/a = 1, D/d = 2
- race : 'White/Caucasian' = 0, 'Black/African American' = 1, 'Asian' = 2

In [31]:
selected.loc[main.loc[:,'sex']=='male','sex'] = 0
selected.loc[main.loc[:,'sex']=='female','sex'] = 1

C:\Users\slee776\AppData\Local\Continuum\anaconda2\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [32]:
selected.loc[main.loc[:,'marital']=='single','marital'] = 0
selected.loc[main.loc[:,'marital']=='married','marital'] = 1
selected.loc[main.loc[:,'marital']=='widow','marital'] = 2
selected.loc[main.loc[:,'marital']=='divorced','marital'] = 2
selected.loc[main.loc[:,'marital']=='divorce','marital'] = 2

In [33]:
selected.loc[main.loc[:,'employed']=='not employed','employed'] = 0
selected.loc[main.loc[:,'employed']=='notemployed','employed'] = 0
selected.loc[main.loc[:,'employed']=='parttime','employed'] = 1
selected.loc[main.loc[:,'employed']=='part time','employed'] = 1
selected.loc[main.loc[:,'employed']=='full time','employed'] = 2
selected.loc[main.loc[:,'employed']=='home self','employed'] = 3
selected.loc[main.loc[:,'employed']=='retired','employed'] = 3
selected.loc[main.loc[:,'employed']=='disabled','employed'] = 4

In [34]:
selected.loc[main.loc[:,'attitude_to_care']=='R','attitude_to_care'] = 0
selected.loc[main.loc[:,'attitude_to_care']=='r','attitude_to_care'] = 0
selected.loc[main.loc[:,'attitude_to_care']=='A','attitude_to_care'] = 1
selected.loc[main.loc[:,'attitude_to_care']=='a','attitude_to_care'] = 1

In [35]:
selected.loc[main.loc[:,'education']=='R','education'] = 0
selected.loc[main.loc[:,'education']=='r','education'] = 0
selected.loc[main.loc[:,'education']=='A','education'] = 1
selected.loc[main.loc[:,'education']=='a','education'] = 1
selected.loc[main.loc[:,'education']=='D','education'] = 2
selected.loc[main.loc[:,'education']=='d','education'] = 2

In [36]:
selected.loc[main.loc[:,'race']=='White/Caucasian','race'] = 0
selected.loc[main.loc[:,'race']=='Black/African American','race'] = 1
selected.loc[main.loc[:,'race']=='Asian','race'] = 2

In [37]:
selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 555 entries, 1 to 1563
Data columns (total 39 columns):
age                    555 non-null int64
sex                    555 non-null object
marital                554 non-null object
employed               555 non-null object
readmit_30days         555 non-null int64
cold_season            555 non-null int64
adm_times              555 non-null float64
past_readmit_30days    555 non-null int64
severe_allergies       548 non-null float64
fev1_fvc               328 non-null float64
copd_type              468 non-null float64
cardiac_como           550 non-null float64
rehab_center           553 non-null float64
office_visit           555 non-null int64
days_admission         555 non-null float64
attitude_to_care       555 non-null object
anxiety                555 non-null float64
education              552 non-null object
tabacco_history        467 non-null float64
tabacco_now            552 non-null float64
alcohol                554 non-null float64
drug                   545 non-null float64
sexual_act             243 non-null float64
num_children           274 non-null float64
year_edu               60 non-null float64
race                   554 non-null object
polluted_heavy_work    137 non-null float64
BP                     555 non-null object
pulse                  540 non-null float64
temp                   525 non-null float64
resp                   522 non-null float64
height                 335 non-null float64
weight                 375 non-null float64
bmi                    313 non-null float64
sp02                   534 non-null float64
have_help_at_home      436 non-null float64
home_equipment         461 non-null float64
numnull                555 non-null int64
selected               555 non-null int64
dtypes: float64(25), int64(7), object(7)
memory usage: 158.3+ KB

- some weird values - check

In [38]:
#main.loc[61,'pulse'] = np.nan
#main.loc[1347,'pulse'] = np.nan

## imputation 
-- Height, Weight, BMI : if there are records of the same person and they have this info, copy those.
-- Have help, Home Equipment : if NA : then 0
- age : find for the one record
-- marital, employed : impute the most frequent one (maybe, 'single','retired') or imply from age.
-- readmission day, in 30 day readmit : if NA, then 0
-- Severe allergies : if NA, then 0
-- COPD type : check the distribution
-- cardiac como : if NA, then 0
-- rehab : if NA, then 0 (ask to hospital about whether it is the real rehab info during intervention period
-- atttude to care, anxiety, education : check the same person's other records, or impute the most frequent one
- Tobacco use history : check the same person's other records, or check the current status
- whether use tabacco now, alcochol, drug : check the same person's other records or 0
-- sexual activity  : too many NA. maybe 0? (ask to hospital)
- number of children : Later. check the records in Epic
- years of edu : ignore first, and if it is important variable in the result, then ask hospital. or 0?
-- polluted/heavy work : too many NA. donno. maybe 0? (ask hospital)

- FEV1/FVC, BP, pulse, temp, resp, sp02 : think about it later. it can be dangerous to impute with random numbers

In [39]:
for col in ['have_help_at_home','home_equipment','cardiac_como',
            'rehab_center','office_visit','polluted_heavy_work','severe_allergies','sexual_act'] : 
    selected.loc[pd.isnull(selected.loc[:,col]),col]  = 0

In [40]:
for col in ['marital', 'copd_type', 'attitude_to_care', 'anxiety', 'education'] :
    selected.loc[pd.isnull(selected.loc[:,col]),col]  = selected.mode().loc[:,col].tolist()[0]

In [41]:
selected.to_pickle('1R1P-focus.pkl')

In [42]:
selected. head()

,age,sex,marital,employed,readmit_30days,cold_season,adm_times,past_readmit_30days,severe_allergies,fev1_fvc,...,temp,resp,height,weight,bmi,sp02,have_help_at_home,home_equipment,numnull,selected
1,83,1,1,3,1,0,3.0,1,1.0,0.56,...,97.3,16.0,1.549,45.360,18.89,0.98,0.0,1.0,3,1
5,70,1,1,3,0,0,0.0,0,1.0,0.32,...,97.2,20.0,1.626,53.000,20.05,0.95,1.0,0.0,0,1
7,49,1,1,0,0,1,0.0,0,1.0,0.22,...,98.8,18.0,NaN,57.600,19.31,0.93,1.0,0.0,1,1
8,69,1,2,0,0,0,0.0,0,1.0,NaN,...,97.7,20.0,1.727,81.000,27.15,NaN,1.0,0.0,6,1
9,44,1,0,4,0,1,0.0,0,1.0,NaN,...,NaN,NaN,NaN,87.091,30.99,NaN,1.0,0.0,7,1

# Modeling

## 1. Logistic Regression
- Using all the attributes, model the logistic regression, and figure out what attributes are effective for the model
- Using all the possible combinations of the attribute, model the logistic regression, and find out which combination is most simple and most effective to predict readmission

- After finding out which attribute is most effectvie, make a model to use only the attribute. How much does it affect? Can I use this attribute for an indicator?
- Can I make a sensitivity analysis for one "variable" attribute?

- NOTE : actually I need to make dummy variables for categorical variables, but it I roughly run modeling step first. I'll do the right steps later.

In [43]:
import scipy
from sklearn.linear_model import LogisticRegression as logReg
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [44]:
selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 555 entries, 1 to 1563
Data columns (total 39 columns):
age                    555 non-null int64
sex                    555 non-null object
marital                555 non-null object
employed               555 non-null object
readmit_30days         555 non-null int64
cold_season            555 non-null int64
adm_times              555 non-null float64
past_readmit_30days    555 non-null int64
severe_allergies       555 non-null float64
fev1_fvc               328 non-null float64
copd_type              555 non-null float64
cardiac_como           555 non-null float64
rehab_center           555 non-null float64
office_visit           555 non-null int64
days_admission         555 non-null float64
attitude_to_care       555 non-null object
anxiety                555 non-null float64
education              555 non-null object
tabacco_history        467 non-null float64
tabacco_now            552 non-null float64
alcohol                554 non-null float64
drug                   545 non-null float64
sexual_act             555 non-null float64
num_children           274 non-null float64
year_edu               60 non-null float64
race                   554 non-null object
polluted_heavy_work    555 non-null float64
BP                     555 non-null object
pulse                  540 non-null float64
temp                   525 non-null float64
resp                   522 non-null float64
height                 335 non-null float64
weight                 375 non-null float64
bmi                    313 non-null float64
sp02                   534 non-null float64
have_help_at_home      555 non-null float64
home_equipment         555 non-null float64
numnull                555 non-null int64
selected               555 non-null int64
dtypes: float64(25), int64(7), object(7)
memory usage: 158.3+ KB

- further take another way of imputation

In [45]:
for col in ['tabacco_history', 'tabacco_now', 'alcohol', 'drug', 'num_children', 'race'] :
    selected.loc[pd.isnull(selected.loc[:,col]),col]  = selected.mode().loc[:,col].tolist()[0]

In [47]:
dropped = selected.loc[:, selected.columns != 'year_edu']
#dropped = dropped.dropna()

In [48]:
for col in dropped.columns :
    dropped.loc[:,col] = dropped.loc[:,col].apply(lambda x : float(x))

In [49]:
X = dropped.loc[:, dropped.columns != 'readmit_30days'].as_matrix()
y = dropped.loc[:, dropped.columns == 'readmit_30days'].as_matrix()
#y = y.reshape(y.shape[0],)

In [50]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Imputer

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.15, random_state=123, stratify=y)

In [52]:
estimator = Pipeline([("imputer", Imputer(#missing_values="NaN",
                                          strategy="mean",
                                          axis=0)),
                      ("logistic",logReg(random_state = 0))])
                      #("forest", RandomForestRegressor(random_state=0,
                      #                                 n_estimators=100))])

In [53]:
#LR1 = logReg(random_state = 0) # with seed 0

In [54]:
#LR1.fit(X,y)
estimator.fit(X_train,y_train)

C:\Users\slee776\AppData\Local\Continuum\anaconda2\lib\site-packages\sklearn\utils\validation.py:547: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Pipeline(memory=None,
     steps=[('imputer', Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)), ('logistic', LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=0, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False))])

In [55]:
y_pred = estimator.predict(X_test)
print y_pred

[ 0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.
  0.  0.  0.  1.  0.  0.  0.  1.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  1.]

In [56]:
print accuracy_score(y_test,y_pred) # results 78.6% accuracy

0.785714285714

## Dummy variables
### Categorical Variables
- marital
- employed
- education
- race
- copd_type

In [57]:
marital = pd.get_dummies(data=dropped['marital'],drop_first=True,prefix='marital')
employed = pd.get_dummies(data=dropped['employed'],drop_first=True,prefix='employed') #drop first column to avoid dummy trap
education = pd.get_dummies(data=dropped['education'],drop_first=True,prefix='education')
race = pd.get_dummies(data=dropped['race'],drop_first=True,prefix='race')
copd_type = pd.get_dummies(data=dropped['copd_type'],drop_first=True,prefix='copd_type')

dropped.drop(['marital','employed','education','race','copd_type'],axis=1,inplace=True)
dropped = pd.concat([dropped,marital,employed,education,race,copd_type],axis=1)

C:\Users\slee776\AppData\Local\Continuum\anaconda2\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [58]:
#dropped.to_pickle('inputdata_dummy.pkl')

In [59]:
print("There are %s patients who are readmitted due to COPD among the %s at risk patient" %(int(sum(dropped.loc[:,'readmit_30days'])),dropped.shape[0]))

There are 130 patients who are readmitted due to COPD among the 555 at risk patient

In [60]:
(dropped.shape[0]-(sum(dropped.loc[:,'readmit_30days'])))/dropped.shape[0]

0.76576576576576572